@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

a:focus, a:hover{
    text-decoration: none;
}
.btn:hover, .btn:active{
    outline: none;
    color: #fff;
}
.btn{
    border:0;
}

body{
    font-family: Arial, sans-serif;
}
ul{
    padding:0;
    margin: 0;
}
ul li{
    list-style-type: none;
}
li{
    list-style-type: none;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
 a{
    color: #333;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: -2px;
}
nav#responsive-menu {
    display: flex;
    border-bottom: 1px solid #ccc;
    position: fixed;
    float: left;
    width: 100%;
    background: #ddd;
    justify-content: space-between;
}
.single-menu .btn:hover{
    color: #a94442;
}
#responsive-menu .single-menu {
    border-right: 1px solid #ccc;
    text-align: center;
    flex: 0 0 25%;
}
#menu{
    display: none;
}
.child {
    transition: all 0.4s ease-in-out;
}
/*nav#menu ul li: hover ul {
    display: block;
}*/
.act.child{
    padding: 2px;
}
.child {
    display: none;
    background: #333;
}
.child li a{
    padding-left: 20px;
}
.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
/*.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}*/
.overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: left;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #ccc;
}
.overlay a:hover, .overlay a:focus {
    color: #a94442;
}
textarea.form-control {
    height: auto;
    padding: 6px 26px;
}
@media screen and (max-height: 450px){
    .overlay a{font-size: 20px}
}

/*for mail*/
.overlay-mail {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content-mail {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-mail .closebtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
    color: #fff;
}
.required{
    float: left;
    color: #fff;
    margin: 0;
}
button.send-button {
    width: 100%;
    padding: 8px;
    background: #333;
    color: #fff;
    border: 1px solid #a94442;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay-mail .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.inner-addon{
    position: relative;
}
.inner-addon .fa{
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon .fa{
    left: 0;
}
.right-addon .fa{
    right: 0;
}
.left-addon input{
    padding-left: 30px;
}
.right-addon input{
    padding-right: 30px;
}
form#mail-form {
    padding: 0% 10% 0 10%;
}
#myElement {
    background-color:blue;
    cursor:pointer;
    text-align:center;
    line-height: 40px;
    padding: 6px
    border-radius: 4px;
    width: 50%;
    margin: auto;
    color:white;
}